$switcherColor: #c0c4cc;
*{
    margin: 0;
}
ul{
    padding-inline-start: 18px;
}
ul>li{
    list-style: none;
} 
.switch-open
{
    margin-left:-12px;
    border:4px solid transparent;
    display:inline-block;
    width:0px;
    height:0px;
    border-top-color: $switcherColor;
    position: relative;
    top:2px;
    cursor: pointer;

}